body,
html {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}
.navbar-inverse {
  background-color: #222;
  border: none;
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand > img {
  height: 100%;
  padding: 15px;
  width: auto;
}
.navbar {
  margin-bottom: 0;
  background: none;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background: none;
}
.nav.navbar-nav.navbar-right li a {
  color: white;
  font-size: 25px;
}
.navbar-brand {
  height: 75px;
}
.nav > li > a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}
.wrapper {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
  border: solid red;
}
.hero {
  background: url(../images/images/sunsetSmaller.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
#heroLogo {
  height: 500px;
  width: 500px;
  margin: 0 auto;
  /* img:hover{
  	 -webkit-transform: scale(1.3);
     -ms-transform: scale(1.3);
     transform: scale(1.3);
     transition-duration: .3s;
  }*/
}
#heroLogo h3 {
  color: black;
  margin-top: -135px;
  text-align: center;
  font-family: 'Great Vibes', cursive;
}
.mobile img {
  height: 50%;
  width: 50%;
  display: block;
  margin: 0 auto;
  margin-top: -50px;
}
.desktop img {
  height: 100%;
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: -100px;
}
/*.toFadeIn{
  opacity: 0;
}

#fadeIn{

  height: 300px;
  background-color: blue;
}*/
.main {
  padding: 80px 0px;
  height: 700px;
  background-color: black;
  overflow-y: scroll;
  font-family: Trebuchet MS;
}
.main h1 {
  font-size: 64px;
  color: white;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}
.main h2 {
  width: 70%;
  margin: 0 auto;
  font-size: 28px;
  color: white;
  text-align: center;
}
.main p {
  width: 70%;
  margin: 0 auto;
  font-size: 20px;
  color: white;
  text-align: center;
}
.mainContainer {
  padding: 80px 0;
  height: 850px;
  background-color: #222;
}
.featured {
  height: 650px;
  width: 80%;
  background: url(../images/images/justin.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 300px 0 0 50px;
  color: white;
}
.featured a {
  color: white;
}
.featured div {
  height: 200px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.5);
}
.aboutContainer {
  display: grid;
  /*grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));*/
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 500px;
}
.aboutContainer > div {
  justify-content: center;
  align-items: center;
}
.aboutContainer > div:nth-child(1n) {
  background-color: #222;
  padding-top: 100px;
  color: white;
}
.aboutContainer > div:nth-child(1n) h2 {
  width: 70%;
  margin: 0 auto;
  font-size: 55px;
  text-align: center;
}
.aboutContainer > div:nth-child(1n) p {
  width: 70%;
  margin: 0 auto;
  font-size: 23px;
  text-align: center;
}
.aboutContainer > div:nth-child(2n) {
  background-color: #222;
}
.aboutContainer > div:nth-child(2n) p {
  width: 80%;
  margin: 0 auto;
  color: white;
  font-size: 20px;
  text-align: left;
}
/*Image Gallery*/
.gallery {
  padding: 80px 0px;
  height: 1000px;
  background: url("../images/images/mountain.jpg") center no-repeat;
  background-size: cover;
}
.gallery h1 {
  font-size: 64px;
  color: white;
  margin: 0 auto;
  text-align: center;
}
.gallery h2 {
  font-size: 40px;
  color: white;
  text-align: center;
}
.gallery h2 a {
  color: white;
}
.galleryWrapper {
  height: 800px;
  overflow-y: scroll;
}
.imageContainer2 {
  /* height: 900px;
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
  border:solid blue;*/
  margin: 0 50px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}
/*.imageContainer2>div{
  display: flex;
  justify-content: center;
  align-items: center;
}*/
/*.imageContainer2>div>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}*/
.imageContainer2 > a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageContainer2 > a img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/*.imageContainer2>div>a{
  width: 100%;
  height: 100%;
  object-fit: cover;
}*/
.horizontalImage {
  grid-column: span 2;
}
.verticalImage {
  grid-row: span 2;
}
.ImageContainer {
  max-width: 1200px;
  height: 700px;
  margin: 5% auto;
  padding: 20px;
  /*background-color: rgba(0,0,0,0.7);*/
  /*border-radius: 10px;*/
  overflow: hidden;
  box-sizing: border-box;
  /*box-shadow: 0 0 5px #222;*/
  overflow-x: hidden;
  overflow-y: scroll;
}
.text-center {
  text-align: center;
  margin-bottom: 1em;
  font-size: 14px;
}
.lightbox-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.lightbox-gallery :hover {
  border: solid white;
}
.lightbox-gallery div > img {
  height: 200px;
  width: 200px;
  display: block;
}
.lightbox-gallery div {
  margin: 10px;
  flex-basis: 180px;
}
@media only screen and (max-width: 480px) {
  .lightbox-gallery {
    flex-direction: column;
    align-items: center;
  }
  .lightbox > div {
    margin-bottom: 10px;
  }
}
/*Lighbox CSS*/
.lightbox {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  padding-top: 30px;
  box-sizing: border-box;
}
.lightbox img {
  display: block;
  margin: auto;
  height: auto;
  width: 500px;
}
.lightbox .caption {
  margin: 15px auto;
  width: 50%;
  text-align: center;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 700;
  color: #eee;
}
footer {
  height: 75px;
  background-color: black;
  padding-top: 20px;
}
#featuredHero {
  background: url(../images/featured/main.jpg) no-repeat center center fixed;
}
#featuredHero h1 {
  margin: 400px 0 0 100px;
  color: white;
  font-size: 45px;
}
