.section{
	text-align:center;
}

#header{
	position:fixed;
	height: 70px;
	display:block;
	width: 100%;
	background: #333;
	z-index:9;
	text-align:center;
/*	color: #f2f2f2;*/
	color:white;
	padding: 20px 0 0 0;
}

#logo{
	float: left;
	height: 30px; width: 30px;
}

#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
			img{
			height: 100px; width: 100px;
		}
	li{
		display: inline-block;
		margin: 30px;
		a{
			color:white;
			font-size: 30px;
		}

	}
}


.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
	padding: 0px;
  position: absolute;
  
}

.navbar-brand>img {
  height: auto;
  width: 70px;
  margin-top: -10px; 
}

#navbarleft{
	margin-left: 200px;
	li a{
		color: black;
	}
}

#navbarright{
	margin-right: 200px;
	li a{
		color: black;
	}
}





/*Make backgrounds cover the entire screen*/
#section0,
#section1,
#section2,
#section3{
	background-size: cover;
	background-attachment: fixed;
}

/*Select background images*/
#section0{
	background-image: url(../images/images/sunset3.jpg);
	padding: 30% 0 0 0;
	position: relative;
	h1{
		color: white;
	}
}


#home{
	position: absolute;
	top: 10px; right: 30px;
	margin: 0 auto;
	border: solid red 2px;
	height: 400px;
	width: 400px;
	overflow: hidden;
	img{
		width: 100%; height: auto;

	}
}

#section1{
	/*background-image: url(../images/images/mountain.jpg);*/
	background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../images/images/mountainSmall.jpg);
	padding: 10% 0 0 0;
	color: white;
	h1{
		color: white;
	}
	h2{
		font-size: 2.7em;
		color: white;
		/*background-color: rgba(0,0,0,0.5);*/
	}
	p{
		width:70%;
		margin: 0 auto;
	/*	background-color: rgba(0,0,0,0.5);*/
	}
}

#section2{
	background-color: black;
	height: 1500px;
	padding: 2% 0 0 0;
	color: white;
	h1{
		color: white;
	}
	h2{
		font-size: 2.7em;
		color: white;
		/*background-color: rgba(0,0,0,0.5);*/
	}
	p{
		width:70%;
		margin: 0 auto;
	/*	background-color: rgba(0,0,0,0.5);*/
	}
}

/*Gallery*/
.gallery {
width:1000px;
height: 550px;
overflow: scroll;
margin:0 auto;
border: solid blue;
}
.gallery a {
display:inline-block;
height:170px;
position:relative;
width:200px;
}
.gallery a img {
border:5px solid #fff;
cursor:pointer;
display:block;
height:100%;
left:0px;
position:absolute;
top:0px;
width:100%;
z-index:1;
-moz-user-select: none;
-khtml-user-select: none;
user-select: none;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
box-sizing:border-box;
-webkit-transition-property:width, height, top, bottom, left, right, z-index, border;
-webkit-transition-duration:0.5s;
-moz-transition-property:width, height, top, bottom, left, right, z-index, border;
-moz-transition-duration:0.5s;
-o-transition-property:width, height, top, bottom, left, right, z-index, border;
-o-transition-duration:0.5s;
transition-property:width, height, top, bottom, left, right, z-index, border;
transition-duration:0.5s;
}
.gallery a:focus img {
border:15px solid #fff;
cursor:default;
height:250%;
position:absolute;
width:250%;
z-index:25;
box-shadow:1px 1px 5px #888;
-moz-box-shadow:1px 1px 5px #888;
-webkit-box-shadow:1px 1px 5px #888;
-webkit-transition-property:width, height, top, bottom, left, right, z-index, border;
-webkit-transition-duration:0.5s;
-moz-transition-property:width, height, top, bottom, left, right, z-index, border;
-moz-transition-duration:0.5s;
-o-transition-property:width, height, top, bottom, left, right, z-index, border;
-o-transition-duration:0.5s;
transition-property:width, height, top, bottom, left, right, z-index, border;
transition-duration:0.5s;
}
/* custom focus rules */
.gallery a:focus:nth-child(3n+1) img {
left:150px;
}
.gallery a:focus:nth-child(3n+2) img {
left:-50px;
}
.gallery a:focus:nth-child(3n+3) img {
left:-250px;
}
.gallery a:focus:nth-child(-n+3) img {
top:140px;
}
.gallery a:focus:nth-child(n+7) img {
top:-150px;
}
.gallery a:focus:nth-child(n+10) img {
top:-295px;
}
/* extra close layer */
.gallery .close {
background:transparent;
cursor:pointer;
display:none;
height:352px;
left:170px;
position:absolute;
top:160px;
width:500px;
z-index:30;
}
.gallery a:focus ~ .close {
display:block;
}

/*End Gallery*/





#footer{
		position:fixed;
		height: 50px;
		display:block;
		width: 100%;
		
		z-index:9;
		text-align:center;
		color: #f2f2f2;
		
		bottom: 0px;
	}